<div class="ep_sciencemesh-popup" id="notification-popup-id">
    <h2 class="status"></h2>
    <p class="statusMsg"></p>
</div>


<style>
    #notification-popup-id {
        left: 30px;
        right: auto;
    }

    .notify_success {
        color: #64d29b;
    }

    .notify_error {
        color: #ff0000;
    }
</style>